staticwebassets.removed.txt
staticwebassets.upToDateCheck.txt
UnidadGe.5D8C80A3.Up2Date
UnidadGenero.csproj.BuildWithSkipAnalyzers
UnidadGenero.csproj.FileListAbsolute.txt
UnidadGenero.GeneratedMSBuildEditorConfig.editorconfig
tb83jnw5mp-3csboou9ff.gz
PublishOutputs.36b87f050c.txt
tb83jnw5mp-3csboou9ff.br
web.config
index.html
index.html.br
index.html.gz
